{% extends "base.html" %}

{% block content %}

<h2>Register</h2>

<form method="POST">

<input
class="form-control mb-3"
name="fullname"
placeholder="Full Name"
required>

<input
class="form-control mb-3"
type="email"
name="email"
placeholder="Email"
required>

<input
class="form-control mb-3"
name="phone"
placeholder="Phone">

<input
class="form-control mb-3"
name="course"
placeholder="Course">

<input
class="form-control mb-3"
type="password"
name="password"
placeholder="Password"
required>

<button class="btn btn-success">

Register

</button>

</form>

{% endblock %}